name: Matrix Configuration Example
on:
    push:
    workflow_dispatch:

jobs:
    deploy-on-ubuntu:
        runs-on: ubuntu-latest
        steps:
            - name: Deploy on Ubuntu
              run: docker info

            - name: run images
              run: docker run hello-world

    deploy-on-windows:
        runs-on: windows-latest
        steps:
            - name: Deploy on Windows
              run: docker info

            - name: run images
              run: docker run hello-world

