name: Exploring variables and secrets
on: push
env:
    DockerHubUsername: ${{ vars.DOCKER_HUB_USERNAME }}
    DockerHubPassword: ${{ secrets.DOCKER_HUB_PASSWORD }}
    Container_Registry: "docker.io"
    IMAGE_NAME: "nginx:latest"

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            - name: Docker build
              run: "echo 'Building Docker image with tag: ${{ env.Container_Registry }}/${{ env.DockerHubUsername }}/${{ env.IMAGE_NAME }}'"

            - name: docker login
              run: "echo '${{ env.DockerHubPassword }}' | docker login -u '${{ env.DockerHubUsername }}' --password-stdin"

            - name: docker publish
              run: "echo 'Publishing Docker image with tag: ${{ env.Container_Registry }}/${{ env.DockerHubUsername }}/${{ env.IMAGE_NAME }}'"

    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to production server
              run: "echo 'Deploying to production server with credentials: ${{ env.DockerHubUsername }}/${{ env.IMAGE_NAME }}'"
