name: Exploring variables and secrets
on: push
env:
    DockerHubUsername: "sjk"
    DockerHubPassword: "sjgksjg"

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            - name: Docker build
              run: "echo 'Building Docker image with tag: ${{ env.DockerHubUsername }}/my-image:latest'"
            
            - name: docker login
              run: "echo '${{ env.DockerHubPassword }}' | docker login -u '${{ env.DockerHubUsername }}' --password-stdin"

            - name: docker publish
              run: "echo 'Publishing Docker image with tag: ${{ env.DockerHubUsername }}/my-image:latest'"

    
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to production server
              run: "echo 'Deploying to production server with credentials: ${{ env.DockerHubUsername }}/my-image:latest'"
